<ul xmlns="http://www.w3.org/1999/xhtml" class="nav navbar-nav">
  <li><a href="index.html">Home</a></li>
  <li><a href="toc.html">Table of Contents</a></li>
  <li><a href="background.html">Background</a></li>
  <li><a href="artifacts.html">Artifact Index</a></li>
  <li class="dropdown">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle">Support<b class="caret">
      </b>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a target="_blank" href="{{site.data.fhir.path}}index.html">FHIR Spec <img src="external.png" style="text-align: baseline"/></a>
      </li>
      <li>
        <a href="downloads.html">Downloads</a>
      </li>
    </ul>
  </li>
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Quick Links<span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li><a href="background.html">Genomic Background</a></li>
      <li><a href="general.html">General Reporting Overview</a></li>
      <li><a href="sequencing.html">Variant Reporting</a></li>
      <li><a href="pharmacogenomics.html">Pharmacogenomic Reporting</a></li>
      <li><a href="somatics.html">Somatic Reporting</a></li>
      <li><a href="histocompatibility.html">Histocompatibility and Immunogenetic Reporting</a></li>
      <li><a href="operations.html">Genomic Operations</a></li>
    </ul>
  </li>
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Appendices<span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li><a href="v2.html">Appendix A: Relation to v2 reporting</a></li>
      <li><a href="cgapps.html">Appendix B: Clinical Genomics Apps</a></li>
      <li><a href="domain.html">Appendix C: Domain Analysis Model</a></li>
      <li><a href="usecases.html">Appendix D: Query Guidance</a></li>
      <li><a href="codings.html">Appendix E: External Coding Systems</a></li>
      <li><a href="conversion.html">Appendix F: Conversion from FHIR Core STU3</a></li>
      <li><a href="molecularSequence.html">Appendix G: Molecular Sequence</a></li>
 	    <li><a href="groupingGuidance.html">Appendix H: Grouping Guidance</a></li>
      <li><a href="Glossary.html">Appendix I: Glossary</a></li>
    </ul>
  </li>
  <li><a href="changes.html">Change Log</a></li>
</ul>
